@charset "UTF-8";
/* CSS Document */
body {
	background: #F5d9d5;
	font-family: "Nunito", sans-serif;
	font-weight: 100;	
}

h2 {
	color: #Ea1c2c;
	font-weight: 100;
	font-size: 2rem;
}

div .col-lg-6 {
	padding-left: 0rem;
	padding-right: 0rem;
}
div .col-md-6 {
	padding-left: 0rem;
	padding-right: 0rem;
}

#MainNav  {
	text-transform: uppercase;
	background-color: transparent;
	font-size: 1.5rem;
	font-weight: 100;
	
}

#headercontent #StartText span {
	color: #Ea1c2c;
	
}

#StartText h1 {
	font-weight: 100;
	font-size: 4rem;
}

#MainNav.nav.scrolled {
	background-color: rgba(228,191,224,1.00); 
	transition: background 1s;
}
/*.navbar .navbar-expand-md .navbar-dark .fixed-top .py-0 .my-0 .px-3 .mx-0
/*.scrolled {
	display: none;
}*/

.pink-text p {
	color: #f498b8;
	font-size: 1.14rem;
	line-height: 2;
	
}

.caps {
	text-transform: uppercase;
}
.navbar-dark .navbar-brand {
	color: #Ea1c2c;
	font-size: 1.5rem;
	font-weight: 100;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
	color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
	color: #Ea1c2c;
}



.box {
	margin-top: 5%;
}

@media (max-width: 1125px) {
	#StartText h1 {
		font-weight: 100;
		font-size: 2rem;
	}
}
@media (min-width: 1125px) and (max-width: 1500px) {
	#StartText h1 {
		font-weight: 100;
		font-size: 3rem;
	}
}
